#drum-machine {
  border: 2px solid #380036;
  padding: var(--spacing);
  border-radius: var(--border-rad);
  background-color: hsl(197, 37%, 24%);
}

.keys {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--spacing);
}

.controls {
  margin: var(--spacing) auto;
  padding: var(--spacing);
  width: 200px;
  text-align: center;
  background-color: hsl(173, 58%, 39%);
  border-radius: var(--border-rad);
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.drum-pad {
  padding: 2rem;
  border-radius: var(--border-rad);
  box-shadow: var(--shadow);
  border: none;
  outline: none;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: hsl(43, 74%, 66%);
}

.drum-pad:active {
  background-color: #f4a261;
}

@media (min-width: 768px) {
  #drum-machine {
    display: flex;
    align-items: center;
    gap: 3rem;
  }
}
